# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# IDE files
.idea/

# Local env files
*.env

# Git
.git/

# Other extra files
Dockerfile
LICENSE
readme.md
docker-compose.yml
.gitignore
.env.example
.dockerignore
